/* UserList.css */
.user-list-container {
    background-color: #101920;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-card {
    background-color: white;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 33vw;
    text-align: center;
    box-sizing: border-box;

  }
  
  h2 {
    margin: 5px 0;
    font-weight: 400;
    font-size: 40px;
    background-color: #ccc;
    padding: 5px 10px;
  }
  